QWidget {
    border-radius: 10px;
    background-color: rgba(44, 44, 46, 255);
}

QLabel {
    color: white;
}

QPushButton {
    color: white;
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 6px;
    background: rgba(142, 142, 147, 255);
}

QPushButton:checked {
    background-color: rgba(44, 44, 46, 200);
}


QSlider {
    border: 0px;
    background: transparent;
}

QSlider::groove {
    background: rgba(142, 142, 147, 255);
    border: 0px;
    border-radius: 3px;
    padding: 0px -3px;
    height: 6px;
}

QSlider::sub-page {
    border-radius: 3px;
    background: rgba(255, 255, 255, 255);
}

QSlider::handle {
    border: 0px;
    border-radius: 3px;
}

QDoubleSpinBox {
    color: white;
    border: 0px;
    height: 26px;
    min-width: 50px;
    padding: 2px 0px;
    border-radius: 6px;
    selection-color: white;
    selection-background-color: rgba(142, 142, 147, 255);
    background: rgba(142, 142, 147, 255);
}

QDoubleSpinBox::up-button {
    border: 0px;
    border-top-right-radius: 1px;
    background-color: rgba(44, 44, 46, 200);
}

QDoubleSpinBox::down-button {
    border: 0px;
    border-bottom-right-radius: 3px;
    background-color: rgba(44, 44, 46, 200);
}
