QWidget {
    border-radius: 7px;
    background: rgba(72, 72, 74, 255);
}

QLabel {
    min-width: 160px;
    max-width: 160px;
    color: white;
    height: 26px;
    padding: 2px;
    background: rgba(142, 142, 147, 255);
}

QTabBar {
    padding: 3px 2px;
}

QTabBar::tab {
    color: white;
    height: 26px;
    margin: 2px 2px;
    min-width: 60px;
    padding: 2px 4px;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 2px;
    background-color: rgba(99, 99, 102, 255);
}

QTabBar::tab:selected {
    background-color: rgba(44, 44, 46, 200);
}

QSlider {
    height: 30px;
    min-width: 270px;
    max-width: 270px;
    border: 0px;
    border-radius: 7px;
    background: transparent;
}

QSlider::groove {
    background: rgba(142, 142, 147, 255);
    border: 0px;
    border-radius: 7px;
    padding: 0px -3px;
}

QSlider::sub-page {
    border-radius: 3px;
}

QSlider::handle {
    background: white;
    margin: 3px 6px;
    height: 22px;
    width: 85px;
    border: 0px;
    border-radius: 6px;
}
